.check-button {
    color: #fff;
    background-color: #c2185b;
    border-color: #c2184f;
}

.check-button:hover {
    color: #fff;
    background-color: #c2185b;
    border-color: #c2184f;
}
.check-button:focus {
    color: #fff;
    background-color: #c2185b;
    border-color: #c2184f;
}

.entry-bar {
    margin-top: 20px;
}

.entry-bar .form-control:focus {
    border-color:#f13f7c;
    outline: 0;
    box-shadow: inset 0 1px 1px #f7a0bd, 
}

.error-msg {
    margin-top: 20px;
    width: 300px
}